@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bgColor: hsl(220, 16%, 96%);
    --black: #191919;
    --blue: #299D91;
    --grey: #E4E7EB;
    --aside: #191919;
    --txt: #666;
}

body {
    height: 100vh;
    background-color: var(--bgColor);
    display: flex;
    /* overflow: hidden; */
}

main {
    width: 100%;
    background-color: var(--bgColor);
    height: 90vh;
}

header {
    position:relative;
    z-index:1;
    backdrop-filter: blur(30px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 32px 20px 24px;
    height: 88px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.265)
}

header h1 {
    color: #1f1f1f;
    font-size: 24px;
    font-family: "Inter", sans-serif;
}

header span {
    color: #9F9F9F;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

aside {
    min-width: 280px;
    background-color: var(--aside);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 28px;
    justify-content: space-between;
}

aside h2 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
}

aside h2 span {
    font-weight: 900
}

aside nav li {
    list-style-type: none;
}

aside nav {
    width: 100%;
}

aside nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

aside nav ul li,
.logout {
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 48px;
    justify-content: start;
    padding: 12px 16px;
    cursor: pointer;
    gap: 10px;
    border-radius: 4px;
    transition: 0.5s;
}

.txt02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 44px
}

.logout {
    color: white;
    width: 100%;
    background-color: hsl(0, 0%, 15%);
    opacity: 75%;
    padding: 12px 16px;
    transition: 0.5s
}

.logout:hover {
    background-color: rgb(57, 57, 57);
    color: white
}

aside nav ul li:hover {
    background-color: rgb(57, 57, 57);
    transform: translateY(2px);
    color: white
}

.curent-page {
    background-color: var(--blue);
    color: white;
    transition: 0.5s;
    font-weight: 600;
}

.curent-page:hover {
    transform: translateY(2px);
    color: white;
    background-color: var(--blue);
}

.txt01 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    align-items: center;
}

aside nav a {
    width: 100%;
    text-decoration: none;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgb(34, 34, 34);
    padding: 40px 0
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%
}

.user p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    /* letter-spacing: 1px; */
}

.user span {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 12px
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
    line-height: 1.2;
}

.fa-ellipsis-vertical {
    color: white;
    font-size: 1.5rem;
    cursor: pointer
}

/* main page */

.section01 {
    display: flex;
    gap: 35px;
    align-items: center;
}

header .fa-bell {
    font-size: 2rem;
    color: var(--txt)
}

.alarm {
    position: relative;
    max-width: max-content;
    cursor: pointer
}

.round-btn {
    position: absolute;
    background-color: var(--blue);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -4px;
    right: -5px;
    border: 2px solid var(--bgColor)
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 352px;
}

.search input {
    border-radius: 12px;
    border: none;
    padding: 12px 32px 12px 24px;
    width: 100%;
    height: 48px;
    outline: none;
    font-size: 16px;
    box-shadow: -5px 10px 10px #dedede
}

.fa-magnifying-glass {
    position: absolute;
    right: 20px;
    color: grey;
    font-size: 1.4rem
}

.section02 {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 416px;
    width: 100%
}

/* cardebis gastilva */
.card-type01 {
    height: 100%
}

.card-type01 h2 {
    font-size: 22px;
    color: #878787;
    font-weight: 400;
    padding-bottom: 8px
}

.card-info {
    background-color: white;
    border-radius: 8px;
    padding: 25px 24px;
    box-shadow: 5px 10px 30px #e1e1e1;
    font-family: "Inter", sans-serif;
    height: 266px
}

#amount,
.box h3 {
    color: #191919;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0px;
}

.big {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.big-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100%;
    justify-content: space-between;
}

.div2 {
    gap: 25px
}

.lil-div {
    display: flex;
    align-items: start;
    gap: 10px
}

.txt-01-01 p {
    color: #878787;
    font-size: 14px
}

.txt-01-01 span {
    color: #191919;
    font-size: 16px;
    font-weight: 700
}

.p1 {
    font-size: 14px;
    color: #525256;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    padding-bottom: 10px;
    margin-bottom: 12px
}

.card {
    margin-top: 17px;
    background-color: #299D91;
    border-radius: 4px;
    padding: 16px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    /* height:100% */
}

.section-02 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    height: 62px;
}

.arrow {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.div {
    display: flex;
    align-items: center;
    gap: 10px
}

.div p {
    font-size: 16px;
    font-weight: 600;
}

/* .type {
    position:absolute;
    top:16px;
    right:16px;
} */

.p1 p {
    font-weight: 500;
    cursor: pointer
}

.txt-01 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px
}

.txt-01 p {
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.txt-01 h4 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.main {
    padding: 20px 32px 20px 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-auto-rows: 1fr;
    gap: 24px;
    height: 100%;
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px
}

#div02 {
    display: flex;
    max-width: 530px;
    padding: 20px 10px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-height:510px;
    justify-content: space-between;
    gap: 40px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    height: 80%;
    z-index: -2;
    border-radius: 16px;
    padding: 64px 64px 48px 64px;
    opacity: 0;
    transition: 0.2s
}

#div02 .fa-xmark{
    font-size: 1.9rem;
    position: absolute;
    right: 30px;
    top: 30px;
    color: #525256;
    cursor: pointer;
    z-index:1
}

.infos {
    border-bottom: 1px solid rgb(216, 216, 216);
}

.infos p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    line-height: 2;
    font-size: 17px;
    font-weight: 600;
    color: #191919;
    padding: 2px 0
}

.infos p span {
    font-weight: 500;
    color: #525256
}

.nav p {
    cursor: pointer;
    font-size: 14px;
    color: #191919;
    font-weight: 500;
}

.nav p:nth-child(1) {
    color: #D1D1D1
}

.round {
    display: flex;
    gap: 7px
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #D1D1D1;
    border-radius: 50%;
}

.curent-circle {
    background-color: var(--blue);
}

.box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.big-div {
    color: #191919;
    font-weight: 500;

}

.progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.round-btn-2 {
    width: 15px;
    height: 15px;
    background-color: #299D91;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: -8px
}

.canva-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120px;
}

.isari {
    height: 70px;
    width: 5px;
    background-color: #299D91;
    transform: rotate(-90deg);
    transform-origin: bottom center;
    position: absolute;
    bottom: 10px;
    left: -3px;
    border-radius: 60px 0px;
    transition: 0.8s ease-out
}

.arrow-2 {
    position: relative;
    height: 400px
}

.editCard {
    max-width: 488px;
    max-height: 400px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    height: 80%;
    z-index: -2;
    border-radius: 16px;
    padding: 64px 64px 48px 64px;
    opacity: 0;
    transition: 0.2s
}

.price {
    color: #969696;
    font-size: 0.9rem
}

#change {
    cursor: pointer;
}

.enter-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%
}

.curent {
    font-size: 1.2rem;
    font-weight: 700
}

.enter-info label {
    color: #525256;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.input-01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.editCard .fa-xmark {
    font-size: 1.9rem;
    position: absolute;
    right: 30px;
    top: 30px;
    color: #525256;
    cursor: pointer
}

.editCard button {
    width: 192px;
    height: 60px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    background-color: #299D91;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s
}

.editCard button:hover {
    transform: translateY(3px);
    background-color: #31b5a8;
}

.enter-info input {
    width: 100%;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #D1D1D1;
    color: #878787;
    font-weight: 400
}

.editCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px
}

.information {
    background-color: white;
    padding: 16px 24px 34px 24px;
    height: 100%;
}

.information ul {
    list-style: none;
}

.information nav {
    width: 60%;
    font-size: 16px;
    font-weight: 700;
    color: #525256
}

.information nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.information ul li {
    cursor: pointer;
}

.curent_page {
    border-bottom: 2px solid #299D91;
    width: 30px;
    color: #299D91
}

.type02 {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
}

.header-01 {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
}

.header-01 span {
    font-size: 1.5rem;
    font-weight: 500;
}

.header-01 a {
    text-decoration: none;
    color: #878787;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px
}

.card-type03 {
    grid-column: span 2;
    height: 100%
}

.detail-info ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(234, 234, 234);
    padding-bottom: 20px;
    width: 100%;
    max-width: 70vh
}

.detail-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px
}

.detail-info {
    height: 100%;
    overflow: auto;
    margin-top: 30px
}

::-webkit-scrollbar {
    width: 0
}

.txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0px;
    line-height: 0.8;
}

.txt h2 {
    font-size: 16px;
    color: #191919;
    font-weight: 700
}

.txt p {
    color: #9F9F9F;
    font-size: 12px
}

.money h2 {
    color: #525256;
    font-size: 16px;
    font-weight: 600
}

.conti {
    display: flex;
    align-items: center;
    gap: 15px;
}

.money p {
    color: #9F9F9F;
    font-size: 12px
}

.money {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0px;
    line-height: 0.9
}

.transactions {
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding-bottom: 30px
}

.transactions i {
    font-size: 1.5rem;
    color: white;
}

.wre {
    width: 50px;
    height: 50px;
    background-color: #299D91;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.div03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#transaction-div {
    max-width:500px;
    width:80%;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(171, 171, 171, 0.676);
    border-radius:8px;
    position:absolute;
    top:80px;
    padding:15px;
    right:0;
    transform:translateY(-500px);
    transition: 0.5s;
    z-index:-3;
    opacity: 0;
}

#list {
    list-style: none;
    display:flex;
    flex-direction: column;
    gap:5px;
    width:100%;
    max-height:500px;
    overflow: auto;
}

#list li {
    display:flex;
    align-items: center;
    gap:15px;
    padding:7px 10px;
    border-bottom:1px solid rgb(216, 216, 216);
}

#list p{
    font-weight:400;
    color:grey
}

#list span{
    font-weight:500;
    color:rgb(171, 171, 171);
}