@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bgColor: hsl(220, 16%, 96%);
    --black: #191919;
    --blue: #299D91;
    --grey: #E4E7EB;
}

body {
    height: 100vh;
    background-color: var(--bgColor);
    display:flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: var(--blue);
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}

h2 span {
    font-weight: 800
}


.input label {
    position: absolute;
    left: 12px;
    top: 12px;
    padding: 0 4px;
    color: grey;
    font-weight: 500;
    font-size:16px;
    /* pointer-events: none; */
    transition: transform 0.2s ease, font-size 0.2s ease, top 0.2s ease;
}

.input input:focus + label,
.input input:not(:placeholder-shown) + label {
    top: -30px;
    transform:translateX(-15px);
    font-size: 16px;
    color: #333;
}


.input input {
    width: 100%;
    padding-left: 16px ;
    padding-right:16px;
    height:48px;
    border: 1px solid rgba(128, 128, 128, 0.614);
    border-radius: 8px;
    background: none;
    color:#333;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    transition:0.5s;
    font-weight:400
}

.input input:focus {
    outline:1px solid #333;
}

.input {
    position: relative;
    max-width: 400px;
    max-width:400px;
    width:100%
}

.container {
    display:flex;
    flex-direction: column;
    gap:20px;
    width:85%;
    max-width:400px;
    align-items: center;
}

.cont {
    display:flex;
    flex-direction: column;
    gap:50px;
    width:100%
}

h3 {
    font-size:24px;
    color:#191D23;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

form {
    margin-top:30px;
    display:flex;
    align-items: start;
    flex-direction: column;
    gap:20px;
    position:relative;
    width:100%
}

.p1 {
    font-weight: 300;
    color:rgba(0, 0, 0, 0.694);
    font-size:14px;
    margin-top:20px
}

.container button {
    width:100%;
    height:48px;
    border-radius:4px;
    background-color: var(--blue);
    font-size:16px;
    font-weight:500;
    border:none;
    color:white;
    cursor:pointer;
    letter-spacing: 0.5px;
    transition: 0.5s
}

.container button:hover {
    background-color: #1b6961;
    transform:translateY(3px)
}

.container p a {
    color: var(--blue);
    text-decoration: none;
    font-weight:400
}

.google {
    max-width: 400px;
    min-width:200px;
    width:100%;
    background-color: #E4E7EB;
    display:flex;
    align-items: center;
    justify-content: center;
    height:48px;
    gap:12px;
    padding:5px;
}
.google p {
    color:#4B5768;
    font-weight: 500;
}

.txt01 {
    text-align: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:10px
}

.p2 {
    font-size:16px;
    font-weight:400;
    color: #999DA3
}

#create{
    color:var(--blue);
    text-decoration: none;
    font-weight:600;
    font-size:16px;
}

.test {
    width:90%;
    text-align: center;
    position:relative;
    margin:20px;
    background-color: #999DA3;
}

.test p {
    position:absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
    padding:15px;
    background-color: var(--bgColor);
    color:#999DA3;
    font-size:16px;
    min-width: max-content;
}

form span {
    /* position:absolute;
    bottom:80px;
    margin:30px 0px; */
    color:red
}

.main {
    width:100%;
    display:flex;
    flex-direction:column;
    gap:10px
}

/* @media (max-width: 600px) {
    h2 {
        font-size:30px;
    }
    h3 {
        font-size:20px;
    }
    .txt01 {
        gap:5px
    }
    .container {
        gap:10px
    }
    form {
        gap:5px;
    }
    .p1 {
        margin-bottom:5px
    }
} */