<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Balance/style.css">
</head>
<body>
    <aside>
        <div class="txt01">
            <h2>
                <span>FINE</span>bank<span>.IO</span>
            </h2>
            <nav>
                <ul>
                    <a href="/overview">
                        <li>
                            <img src="../static/image/Overview.png" alt=""> Overview
                        </li>
                    </a>
                    <a href="/balances">
                        <li class="curent-page">
                            <img src="../static/image/wallet.png" alt="">
                            Balances
                        </li>
                    </a>
                    <a href="">
                        <li>
                            <img src="../static/image/Transaction.png" alt="">
                            Transactions
                        </li>
                    </a>
                    <a href="">
                        <li>
                            <img src="../static/image/Expencces.png" alt="">
                            Expenses
                        </li>
                    </a>
                    <a href="/goal">
                        <li>
                            <img src="../static/image/Goal.png" alt="">
                            Goals
                        </li>
                    </a>
                    <a href="">
                        <li>
                            <img src="../static/image/Settings.png" alt="">
                            Settings
                        </li>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="txt02">
            <div class="logout">
                <img src="../static/image/Icon.png" alt="">
                Logout
            </div>
            <div class="profile">
                <div class="user">
                    <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
                    <div class="user-name">
                        <p class="name">{{ name }}</p>
                        <span>View profile</span>
                    </div>
                </div>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
    </aside>

    <div class="upper">
        <div class="left">
            <p class="Date">>> May 19 2023</p>
        </div>
        <div class="right">
            <img src="./icone-de-cloche-grise.png" alt="" width="25" height="25" style="margin-top: 5px;">
            <div class="search-container">
                <input type="text" placeholder="Search here">
                <img src="./free-search-icon-2903-thumb.png" alt="" width="20" height="20">
            </div>
        </div>
    </div>
    <div class="bottom"></div>  
    <p style="color: rgb(159,159,159); font-size: 18px; margin-top: 10px; margin-right: 800px;">Balances</p>
    <div class="container">
        <div class="topdiv">
            <div class="div1">
                <div class="rows">
                    <p style="color: rgb(159,159,159); font-size: 14px; margin-top: 10px;">Credit Card</p>
                    <p style="color: rgb(159,159,159); font-size: 12px; margin-top: 10px;">Master Card</p>
                </div>
                <div class="columns">
                    <p>3388 4556 8860 8157</p>
                    <p style="color: rgb(159,159,159); font-size: 12px;">Acount Number</p>
                </div>
                <div class="columns">
                    <p>$25000</p>
                    <p style="color: rgb(159,159,159); font-size: 12px;">Total Amount</p>
                </div>
                <div class="rows">
                    <p style="color: #299D91; margin-top: 10px;">Remove</p>
                    <button class="details-button">Detailes ></button>
                </div>
            </div>
            <div class="div2">
                <div class="rows">
                    <p style="color: rgb(159,159,159); font-size: 14px; margin-top: 10px;">Credit Card</p>
                    <p style="color: rgb(159,159,159); font-size: 12px; margin-top: 10px;">Master Card</p>
                </div>
                <div class="columns">
                    <p>3388 4556 8860 8157</p>
                    <p style="color: rgb(159,159,159); font-size: 12px;">Acount Number</p>
                </div>
                <div class="columns">
                    <p>$25000</p>
                    <p style="color: rgb(159,159,159); font-size: 12px;">Total Amount</p>
                </div>
                <div class="rows">
                    <p style="color: #299D91; margin-top: 10px;">Remove</p>
                    <button class="details-button">Detailes ></button>
                </div>
            </div>
            <div class="div3">
                <div class="rows">
                    <p style="color: rgb(159,159,159); font-size: 14px; margin-top: 10px;">Credit Card</p>
                    <p style="color: rgb(159,159,159); font-size: 12px; margin-top: 10px;">Master Card</p>
                </div>
                <div class="columns">
                    <p>3388 4556 8860 8157</p>
                    <p style="color: rgb(159,159,159); font-size: 12px;">Acount Number</p>
                </div>
                <div class="columns">
                    <p>$25000</p>
                    <p style="color: rgb(159,159,159); font-size: 12px;">Total Amount</p>
                </div>
                <div class="rows">
                    <p style="color: #299D91; margin-top: 10px;">Remove</p>
                    <button class="details-button">Detailes ></button>
                </div>
            </div>
        </div>
        <div class="bottomdiv">
            <div class="div4">
                <div class="rows">
                    <p style="color: rgb(159,159,159); font-size: 14px; margin-top: 10px;">Credit Card</p>
                    <p style="color: rgb(159,159,159); font-size: 12px; margin-top: 10px;">Master Card</p>
                </div>
                <div class="columns">
                    <p>3388 4556 8860 8157</p>
                    <p style="color: rgb(159,159,159); font-size: 12px;">Acount Number</p>
                </div>
                <div class="columns">
                    <p>$25000</p>
                    <p style="color: rgb(159,159,159); font-size: 12px;">Total Amount</p>
                </div>
                <div class="rows">
                    <p style="color: #299D91; margin-top: 10px;">Remove</p>
                    <button class="details-button">Detailes ></button>
                </div>
            </div>
            <div class="div5">
                <div class="rows">
                    <p style="color: rgb(159,159,159); font-size: 14px; margin-top: 10px;">Credit Card</p>
                    <p style="color: rgb(159,159,159); font-size: 12px; margin-top: 10px;">Master Card</p>
                </div>
                <div class="columns">
                    <p>3388 4556 8860 8157</p>
                    <p style="color: rgb(159,159,159); font-size: 12px;">Acount Number</p>
                </div>
                <div class="columns">
                    <p>$25000</p>
                    <p style="color: rgb(159,159,159); font-size: 12px;">Total Amount</p>
                </div>
                <div class="rows">
                    <p style="color: #299D91; margin-top: 10px;">Remove</p>
                    <button class="details-button">Detailes ></button>
                </div>
            </div>
            <div class="div6">
                    <button class="details-button">Add Acounts</button>
                    <p style="color: #299D91; font-size: 14px; margin-top: 10px;">Edit Acounts</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>