<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Balance/style.css">
    <script src="https://kit.fontawesome.com/b2005d7310.js" crossorigin="anonymous"></script>

</head>

<body>
    <aside>
        <div class="txt01">
            <i class="fa-solid fa-xmark" id="fa-xmark"></i>
            <h2>
                <span>FINE</span>bank<span>.IO</span>
            </h2>
            <nav>
                <ul>
                    <a href="/overview">
                        <li>
                            <img src="../static/image//Overview (1).png" alt=""> Overview
                        </li>
                    </a>
                    <a href="/Balances">
                        <li class="curent-page">
                            <img src="../static/image/wallet (1).png" alt="">
                            Balances
                        </li>
                    </a>
                    <a href="">
                        <li>
                            <img src="../static/image/Transaction.png" alt="">
                            Transactions
                        </li>
                    </a>
                    <a href="">
                        <li>
                            <img src="../static/image/Expencces.png" alt="">
                            Expenses
                        </li>
                    </a>
                    <a href="/goal">
                        <li>
                            <img src="../static/image/Goal.png" alt="">
                            Goals
                        </li>
                    </a>
                    <a href="">
                        <li>
                            <img src="../static/image/Settings.png" alt="">
                            Settings
                        </li>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="txt02">
            <a href="/log_out">
                <div class="logout">
                    <img src="../static/image/Icon.png" alt="">
                    Logout
                </div>
            </a>
            <div class="profile">
                <div class="user">
                    {% if userinfo.profile %}
                    <img src="{{ userinfo.profile }}" alt="" id="profile">
                    {% endif %}
                    <div class="user-name">
                        <p class="name">{{ name }}</p>
                        <span>View profile</span>
                    </div>
                </div>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
    </aside>
    <div id="transaction-div">
        <ul id="list">

        </ul>
    </div>
    <main>
        <header>
            <div class="section01">
                <i class="fa-solid fa-bars" id="fa-bars"></i>
                <span> >> May 19, 2023</span>
            </div>
            <div class="section02">
                <div class="alarm">
                    <i class="fa-solid fa-bell"></i>
                    {% if not userinfo.notification.read %}
                    <div class="round-btn"></div>
                    {% endif %}
                </div>
                <div class="search">
                    <input type="search" placeholder="Search here">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </header>
        <section class="main">
            <h1>Balances</h1>
            <div class="section">
                <div class="card">
                    <div class="div01">
                        <p>Credit card</p>
                        <div class="pict">
                            <span>{{ userinfo.cards['card-01'].type }}</span>
                            {% if userinfo.cards['card-01'].type == 'mastercard' %}
                            <img src="../static/image/Mastercard-Logo 1.png" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-info">
                        <span>
                            {{userinfo.cards['card-01'].number}}
                        </span>
                        <p>Account Number</p>
                    </div>
                    <div class="card-info">
                        <span>
                            ${{userinfo.cards['card-01'].money}}
                        </span>
                        <p>Total amount</p>
                    </div>
                    <div class="btn">
                        <a href="">Remove</a>
                        <a href="/details">
                            <button class="Details">Details > </button>
                        </a>
                    </div>
                </div>
                <div class="add">
                    <button>Add accounts</button>
                    <a href="">Edit Accounts</a>
                </div>
            </div>
        </section>
    </main>
    <script type="module" src="../static/Balance/script.js"></script>
</body>

</html>

<!-- <div class="card">
        <div class="div01">
            <p>Card name</p>
                <div class="pict">
                    <span>Card Type</span>
                    <img src="" alt="">
                    </div>
                </div>
            <div class="card-info">
            <span>card number</span>
            <p>Account Number</p>
        </div>
        <div class="card-info">
            <span>money</span>
            <p>Total amount</p>
        </div>
        <div class="btn">
            <a href="">Remove</a>
            <button>Details > </button>
        </div>
    </div> -->