<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Forgot Password/style.css">
</head>

<body>
    <div class="container">
        <h2>
            <span>FINE</span>bank<span>.IO</span>
        </h2>
        <div class="txt01">
            <h3>Forgot Password?</h3>
            <p>Enter your email address to get the <br> password reset link.</p>
        </div>
        <div class="email">
            <div class="input">
                <input type="email" placeholder=" " id="mail">
                <label for="mail">Email Address</label>
            </div>
            <span id="message">
                <!-- Error Message -->
            </span>
        </div>
        <div class="txt02">
            <button>Password Reset</button>
            <a href="../Log in/index.html">Back to login</a>
        </div>
    </div>
</body>

</html>