<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
    <link rel="stylesheet" href="../static/Overview/style.css">
    <script src="https://kit.fontawesome.com/b2005d7310.js" crossorigin="anonymous"></script>
</head>

<body>
    <aside>
        <div class="txt01">
            <i class="fa-solid fa-xmark" id="fa-xmark"></i>
            <h2>
                <span>FINE</span>bank<span>.IO</span>
            </h2>
            <nav>
                <ul>
                    <a href="/overview">
                        <li class="curent-page">
                            <img src="../static/image/Overview.png" alt=""> 
                            Overview
                        </li>
                    </a>
                    <a href="/Balances">
                        <li>
                            <img src="../static/image/wallet.png" alt="">
                            Balances
                        </li>
                    </a>
                    <a href="">
                        <li>
                            <img src="../static/image/Transaction.png" alt="">
                            Transactions
                        </li>
                    </a>
                    <a href="">
                        <li>
                            <img src="../static/image/Expencces.png" alt="">
                            Expenses
                        </li>
                    </a>
                    <a href="/goal">
                        <li>
                            <img src="../static/image/Goal.png" alt="">
                            Goals
                        </li>
                    </a>
                    <a href="">
                        <li>
                            <img src="../static/image/Settings.png" alt="">
                            Settings
                        </li>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="txt02">
            <a href="/log_out">
                <div class="logout">
                    <img src="../static/image/Icon.png" alt="">
                    Logout
                </div>
            </a>
            <div class="profile">
                <div class="user">
                    {% if userinfo.profile %}
                    <img src="{{ userinfo.profile }}" alt="" id="profile">
                    {% endif %}
                    <div class="user-name">
                        <p class="name">{{ userinfo.name }}</p>
                        <span>View profile</span>
                    </div>
                </div>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
    </aside>
    <div class="editCard">
        <i class="fa-solid fa-xmark"></i>
        <div class="enter-info">
            <div class="input-01">
                <label for="end">Target Amounts</label>
                <input type="number" id="end" placeholder="$500000000000000000000" required min="0"
                    max="500000000000000000000">
            </div>
            <div class="input-01">
                <label for="start">Present Amounts</label>
                <input type="number" id="start" placeholder="Write presents amounts here" min="0">
            </div>
        </div>
        <button>Save</button>
    </div>
    <div id="div02">
        <i class="fa-solid fa-xmark" id="second"></i>
        <h2>Card details</h2>
        <div class="infos">
            <p>
                Type:
                <span>
                    {{ userinfo.cards['card-01'].type }}
                </span>
            </p>
            <p>Card number:
                <span>
                    {{ userinfo.cards['card-01'].number }}
                </span>
            </p>
            <p>
                Account:
                <span>
                    {{ userinfo.cards['card-01'].accaunt_number }}
                </span>
            </p>
            <p>
                Curent money:
                <span>
                    ${{ userinfo.cards['card-01'].money }}
                </span>
            </p>
            <p>
                Card code:
                <span>
                    {{ userinfo.cards['card-01'].code }}
                </span>
            </p>
        </div>
        <div class="transactions">
            <a href="/transactionToSomeone">
                <div id="send" class="div03">
                    <div class="wre">
                        <i class="fa-solid fa-comments-dollar"></i>
                    </div>
                    <p>Transaction</p>
                </div>
            </a>
            <div id="tansferToYourself" class="div03">
                <div class="wre">
                    <i class="fa-solid fa-user"></i>
                </div>
                <p>
                    Transfer to yourself
                </p>
            </div>
            <div id="story" class="div03">
                <div class="wre">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </div>
                History
            </div>
        </div>
    </div>
    <div id="transaction-div">
        <ul id="list">

        </ul>
    </div>
    <main>
        <header>
            <div class="section01">
                <i class="fa-solid fa-bars" id="fa-bars"></i>
                <h1>Hello {{ userinfo.name }}</h1>
                <span> >> May 19, 2023</span>
            </div>
            <div class="section02">
                <div class="alarm">
                    <i class="fa-solid fa-bell"></i>
                    {% if not userinfo.notification.read %}
                    <div class="round-btn"></div>
                    {% endif %}
                </div>
                <div class="search">
                    <input type="search" placeholder="Search here">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </header>
        <section class="main">
            <div class="card-type01">
                <h2>Total Balance</h2>
                <div class="card-info">
                    <div class="p1">
                        <h3 id="amount">${{ total }}</h3>
                        <a href="/Balances"><p>All Accounts</p></a>
                    </div>
                    <div class="card">
                        <div class="txt-01">
                            <p>Account Type</p>
                            <h4>Credit Card</h4>
                            <p id="card_number">{{ userinfo.cards['card-01'].number }}</p>
                        </div>
                        <div class="section-02">
                            <img src="../static/image/Mastercard-Logo 1.png" alt="" class="type">
                            <div class="div">
                                <p class="curent-money">
                                    ${{ userinfo.cards['card-01'].money }}
                                </p>
                                <div class="arrow" id="arrow">
                                    <img src="../static/image/arrow-up-right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav">
                        <p>
                            < Previous</p>
                                <div class="round">
                                    <div class="circle curent-circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div>
                                <p> Next ></p>
                    </div>
                </div>
            </div>
            <div class="card-type01 goal">
                <h2>Goals</h2>
                <div class="card-info">
                    <div class="p1">
                        <div class="box">
                            <h3 id="sum"> ${{ userinfo.goal.target }}</h3>
                            <img src="../static/image/Frame .png" alt="" id="change">
                        </div>
                        <p class="data">May, 2023</p>
                    </div>
                    <div class="big">
                        <div class="big-div div2">
                            <div class="lil-div">
                                <img src="../static/image/Award.png" alt="">
                                <div class="txt-01-01">
                                    <p>Target Achieved</p>
                                    <span class="curent">${{ userinfo.goal.curent}}</span>
                                </div>
                            </div>
                            <div class="lil-div">
                                <img src="../static/image/octicon_goal-16.png" alt="">
                                <div class="txt-01-01">
                                    <p>This month Target</p>
                                    <span class="target">${{ userinfo.goal.target}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="big-div">
                            <div class="canva-info">
                                <div class="arrow-2">
                                    <div class="round-btn-2"></div>
                                    <div class="isari"></div>
                                </div>
                                <div class="progress">
                                    <p class="price">$0</p>
                                    <p class="curent type01">
                                        {{userinfo.goal.curent}}
                                    </p>
                                    <p class="target type01 price">{{userinfo.goal.target}}</p>
                                </div>
                            </div>
                            <p>Target vs Achievement</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-type01 type02 ransaction">
                <div class="header-01">
                    <h2>Recent Transaction</h2>
                    <a href="">View All <span> ></span> </a>
                </div>
                <div class="information card-info">
                    <nav>
                        <ul class="navigation">
                            <li class="curent_page" id="All">All</li>
                            <li id="Revenue">Revenue</li>
                            <li id="Expenses">Expenses</li>
                        </ul>
                    </nav>
                    <div class="detail-info">
                        <ul class="transaction-story">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-type03 Expenses-Breakdown">
                <h2>Expenses Breakdown</h2>
                <div class="card-info">
                    <div class="grid-div">
                        <div class="m">
                            <img src="../static/image/home.png" alt="">
                            <div class="txt">
                                <p>Housing</p>
                                <h2>${{ Expenses.house }}</h2>
                                <div class="prcnt">
                                    <p class="procent_grid">Procent</p>
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                    <div class="grid-div">
                        <div class="m">
                            <img src="../static/image/food.png" alt="">
                            <div class="txt">
                                <p>Food</p>
                                <h2>${{ Expenses.food }}</h2>
                                <div class="prcnt">
                                    <p class="procent_grid">Procent</p>
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                    <div class="grid-div">
                        <div class="m">
                            <img src="../static/image/transport.png" alt="">
                            <div class="txt">
                                <p>Transportation</p>
                                <h2>${{ Expenses.transportation }}</h2>
                                <div class="prcnt">
                                    <p class="procent_grid">Procent</p>
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                    <div class="grid-div">
                        <div class="m">
                            <img src="../static/image/entertination.png" alt="">
                            <div class="txt">
                                <p>Entertainment</p>
                                <h2>${{ Expenses.entertainment }}</h2>
                                <div class="prcnt">
                                    <p class="procent_grid">Procent</p>
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                    <div class="grid-div">
                        <div class="m">
                            <img src="../static/image/shop.png" alt="">
                            <div class="txt">
                                <p>Shopping</p>
                                <h2>${{ Expenses.shopping }}</h2>
                                <div class="prcnt">
                                    <p class="procent_grid">Procent</p>
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                    <div class="grid-div">
                        <div class="m">
                            <img src="../static/image/other.png" alt="">
                            <div class="txt">
                                <p>Others</p>
                                <h2>${{ Expenses.others }}</h2>
                                <div class="prcnt">
                                    <p class="procent_grid">Procent</p>
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-type03 Revenue-Breakdown">
                <h2>Revenue Breakdown</h2>
                <div class="card-info">
                    <div class="grid-div">
                        <div class="m">
                            <div class="blur">
                                <i class="fa-solid fa-piggy-bank"></i>
                            </div>
                            <div class="txt">
                                <p>Saves</p>
                                <h2>${{ Revenue.saves  }}</h2>
                                <div class="prcnt">
                                    <p class="procent_grid">Procent</p>
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                    <div class="grid-div">
                        <div class="m">
                            <div class="blur">
                                <i class="fa-solid fa-wallet"></i>
                            </div>
                            <div class="txt">
                                <p>Salary</p>
                                <h2>${{ Revenue.salary}}</h2>
                                <div class="prcnt">
                                    <p class="procent_grid">Procent</p>
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                    <div class="grid-div">
                        <div class="m">
                            <img src="../static/image/other.png" alt="">
                            <div class="txt">
                                <p>Others</p>
                                <h2>${{Revenue.other}}</h2>
                                <div class="prcnt">
                                    <p class="procent_grid">
                                        {{ procent_other_revenue }}
                                    </p>
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../static/Overview/script.js"></script>
</body>

</html>