<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Welcome page/style.css">
</head>

<body>
    <div class="text01">
        <h2>
            <span>Welcome to the</span><br>
            Finebank - Financial Management <br> Dashboard
        </h2>
        <p>This file is totally free for education purpose, for commercial licence <br>please contact me on below
            address.
        </p>
    </div>
    <div class="border"></div>
    <div class="text02">
        <h3>Contact me if you need to design your <br>
            custom project</h3>
        <div class="mail">saeefalmahmud@gmail.com</div>
    </div>
</body>

</html>